@import url("../index.css");

.container{
    position: relative;
    margin-top: 3rem;
    background: transparent;
    margin-bottom: 12rem;
}

.UpdateForm{
  z-index: 100;
}

.emptyContainer{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  color: #5f5f5f;
  font-weight: bold;
}

.fixedOverlay2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.fixedForm2 {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 24px;
  z-index: 100;
}

.closeButton {
  position: fixed;
  top: 0;
  right: 0;
  padding: 16px;
  width: 56px;
  height: 56px;
  z-index: 100;
}

.closeButton img {
  width: 100%;
  height: 100%;
  z-index: 100;
}

.form {
  display: flex;
  flex-direction: column;
  width: 24rem;
  max-width: 40rem;
  background-color: white;
  padding: 32px;
  border-radius: 8px;
}

.suggestionsContainer {
  position: relative;
}

.suggestionsList {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 12rem;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1000;
}

.inputField {
  border-bottom: 1px solid #d1d5db;
  outline: none;
  margin-bottom: 8px;
  color: #545557;
}

.addButton {
  background-color: #314475;
  color: white;
  padding: .5rem 0;
  margin-top: 16px;
}

.addButton:hover{
  background-color: #3f548a;
  transition: all .3s ease;
  cursor: pointer;
}

.cancelButton {
  margin-top: 2rem;
  background-color: rgb(245, 91, 91);
  color: white;
}


.fixedOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fixedForm {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  margin: 0 24px;
}

.closeButton {
  position: fixed;
  top: 0;
  right: 0;
  padding: 16px;
  width: 56px;
  height: 56px;
}

.closeButton img {
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 24rem;
  max-width: 40rem;
  background-color: white;
  padding: 32px;
  border-radius: 8px;
}

.inputField {
  border-bottom: 1px solid #d1d5db;
  outline: none;
  margin-bottom: 8px;
  color: #545557;
}


.dateHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  margin-top: 16px;
  border-bottom: 1px solid #d1d5db;
  background: transparent;
}

.dateHeader span {
  text-align: center;
  font-weight: 500;
  color: #6b7280;
  padding-bottom: 8px;
  margin-top: 20px;
}

.tableContainer {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #e5e7eb;
}


.tableHeader th {
  padding: 12px;
  text-align: left;
  font-size: 0.75rem; 
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid #d1d5db;
}

.tableBody {
  background-color: white;
  color: rgb(54, 54, 54);
}

.stocksTr {
  border-bottom: 1px solid #d1d5db;
}

.tableBody td {
  padding: .2rem;
  padding-left: .6rem;
  white-space: wrap;
  background-color: #f9fafb;
  border-right: 1px solid #d1d5db;
  
}

.tableHeader th{
  border-color: rgb(136, 136, 136);
}

.tableBody td{
  background-color: #d9e0f1;
  border-color: rgb(136, 136, 136);
}

.stocksTr{
  background-color: #d9e0f1;
  border-color: rgb(136, 136, 136);
  border-right: 1px solid rgb(136, 136, 136);
  border-left: 1px solid rgb(136, 136, 136);
}

.tableHeader{
  background-color: #4259ad;
  color: rgb(255, 255, 255);
}


.headerNo {
  max-width:1rem;
}

.tableName{
  width: 50%;
}


.statusButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
}

.removeButton {
  padding: 8px;
  font-size: .7rem;
  border-radius: 5px;
  
}

.removeButton {
  background-color: #b91c1c;
  color:white;
  font-size: .7rem;
}

.removeButton:hover{
  background-color: #c02626;
  transition: all 0.3s ease;
}

.addTodoContainer {
  background-color: #1e40af;
  color: white;
  padding: 16px;
  position: fixed;
  bottom: 5%;
  right: 5%;
  margin-left: 20%;
}

.addTodoButton {
  background-color: #8b5cf6;
  padding: 8px;
  border-radius: 8px;
  font-size: 10px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.addTodoButton:hover {
  background-color: #30409c;
}

.contactBtn{
  position: fixed;
  bottom: 10%;
  right: 10%;
  z-index: 1000;
}

.contactBtn button {
  width: 4.5rem;
  height: 4.5rem;
  background-color: #314475;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: none;
}

.contactBtn img{
  width: 40%;
}

.contactBtn button::before {
  content: "";
  position: absolute;
  border: 1px solid #314475;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  border-radius: 50%;
  animation: pulse 1.5s linear infinite
}

.contactBtn button::after {
  content: "";
  position: absolute;
  border: 1px solid #314475;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  border-radius: 50%;
  animation: pulse 2s linear infinite;
  animation-delay: 0.3s
}



/* Media Queries for Mobile Devices */

/* For screens with max-width of 768px (tablets and smaller) */
@media (max-width: 768px) {
  .emptyContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    color: #5f5f5f;
    font-weight: bold;
  }
  .container {
    padding: 4px;
    margin: 0 1rem;
    margin-bottom: 13rem;
  }

  .contactBtn{
    bottom: 12%;
  }

  .fixedForm {
    margin: 0 6px;
    padding: 8px;
  }

  .container {
    padding: 4px;
    background: linear-gradient(135deg, #ebf8fa, #c4d8e4);
    position: absolute;
    top: 10%;
    left: 0;
    margin: 0;
    padding: 0 1rem;
    padding-bottom: 50rem;
  }

  .form {
    width: 100%;
    max-width: 280px;
    padding: 8px;
  }

  .inputField {
    margin-bottom: 2px;
  }

  .addButton {
    margin-top: 4px;
  }

  .dateHeader {
    flex-direction: row;
  }

  .dateHeader span {
    font-size: 1rem;
  }

  .tableHeader{
    background-color: #acc0f3;
  }

  .headerNo{
    max-width: 2rem;
  }

  .tableHeader th{
    color: rgb(53, 52, 52);
    border-color: rgb(136, 136, 136);
  }

  .tableBody td{
    background-color: #d9e0f1;
    border-color: rgb(136, 136, 136);
    padding: 1rem;
  }

  .stocksTr{
    background-color: #d9e0f1;
    border-color: rgb(136, 136, 136);
    border-right: 1px solid rgb(136, 136, 136);
    border-left: 1px solid rgb(136, 136, 136);
  }

  .tableHeader th,
  .tableBody td {
    font-size: 1rem;
    padding: 4px;
  }

  .statusButtons {
    flex-direction: row;
    justify-content: center;
  }

  .cmdButton,
  .removeButton {
    padding: 2px;
    font-size: 0.9rem;
    margin: 1px;
  }

  .addTodoContainer {
    padding: 4px;
  }

  .addTodoButton {
    padding: 4px;
    font-size: 0.9rem;
  }
}

/* For screens with max-width of 480px (smartphones) */
@media (max-width: 480px) {

  .emptyContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    color: #5f5f5f;
    font-weight: bold;
  }
  .container {
    padding: 4px;
    margin: 0 1rem;
    margin-bottom: 13rem;
  }

  .contactBtn{
    bottom: 12%;
  }

  .fixedForm {
    margin: 0 6px;
    padding: 8px;
  }

  .container {
    padding: 4px;
    background: linear-gradient(135deg, #ebf8fa, #c4d8e4);
    position: absolute;
    top: 10%;
    left: 0;
    margin: 0;
    padding: 0 1rem;
    padding-bottom: 50rem;
  }

  .form {
    width: 100%;
    max-width: 330px;
    padding: 8px;
    height: 35vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

    .suggestionsList{
    max-height: 12rem;
  }


  .inputField {
    margin-bottom: 2px;
  }

  .addButton {
    margin-top: 2rem;
    width: 70%;
    align-self: center;
  }

  .dateHeader {
    flex-direction: row;
  }

  .dateHeader span {
    font-size: 1rem;
  }

.tableHeader{
    background-color: #4259ad;
    color: rgb(255, 255, 255) ;
  }

  .headerNo{
    max-width: 2rem;
  }

  .tableHeader th{
    border-color: rgb(136, 136, 136);
    color: rgb(255, 255, 255);
  }

  .tableBody td{
    background-color: #ebeff8;
    border-color: rgb(136, 136, 136);
    padding: 1rem;
  }

  .stocksTr{
    background-color: #ebeff8;
    border-color: rgb(136, 136, 136);
    border-right: 1px solid rgb(136, 136, 136);
    border-left: 1px solid rgb(136, 136, 136);
  }

  .tableHeader th,
  .tableBody td {
    font-size: 1rem;
    padding: 4px;
  }

  .statusButtons {
    flex-direction: row;
    justify-content: center;
  }

  .cmdButton,
  .removeButton {
    padding: 2px;
    font-size: 0.9rem;
    margin: 1px;
  }

  .addTodoContainer {
    padding: 4px;
  }

  .addTodoButton {
    padding: 4px;
    font-size: 0.9rem;
  }
}
