.header{
   background: radial-gradient(circle at 85.4% 50.8%, rgb(13, 64, 192) 0%, rgb(3, 22, 65) 74.2%);
   background-size: cover;
   background-blend-mode: overlay;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 7rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
}

.headerDiv{
   position: relative;
   
}

.titleFirst{
   background: linear-gradient(to bottom, #edf2f4 50%, rgb(182, 199, 243) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
   font-size: 2.3rem;
   margin-left: 1rem;
   font-weight: bold;
   font-family: 'DM Serif Text', serif;
}

.titleSecond{
   background: linear-gradient(to bottom, #edf2f4 50%, rgb(182, 199, 243) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.subHead{
  position: absolute;
  top: 70%;
  left: 10%;
  color: #edf2f4;
  font-family: 'Permanent Marker', cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.logBtnDiv{
   display: flex;
   flex-direction: row;
   margin-right: 2rem;
}

.logOutBtn{
   color: white;
}

@media (max-width: 480px){

   .header{
      height: 5rem;
      margin-bottom: -2rem;
   }
   .logBtnDiv{
      margin-right: .2rem;
   }

   .titleFirst{
      font-size: 1.5rem;
   }
}